<%- include ("./partials/header.ejs") %>
<div class="ui main text container segment">
    <div class="ui huge header">
        <%=blog.title%>
    </div>
    <div class="ui top attach">
        <div class="item">
            <img class="ui centered rounded image" src="<%=blog.image%>" alt="">
            <div class="content" style="margin-top: 20px;">
                <span><%=blog.created.toDateString()%></span>
            </div>
            <div class="description" style="margin-top: 15px;">
                <p><%-blog.body%></p>
            </div>
            <a class="ui green big basic button" href="/blogs/<%=blog._id%>/edit" style="margin-top: 20px;">Edit</a>
            <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="post">
                <button class="ui red big basic button" style="margin-top: 20px; float: right">Delete</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include ("./partials/footer.ejs") %>
